!!! 5

html(lang='en').no-js
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		block description
		block keywords
		title
			block title
		link(rel="stylesheet", href='css/foundation.css')
		link(rel="stylesheet", href='css/app.css')
		script(src="js/vendor/custom.modernizr.js")
		link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Lato:300,400,700')
	body
		header.branding
			nav.top-bar.main-menu.branding.row
				ul.title-area
					li.name
						h1 
							a(href="") Greg's Wintersmith Template
					li.toggle-topbar.menu-icon
						a(href="#") <span>Menu</span>
				section.top-bar-section
					ul.right
						li.dim 
							a(href="") Home
						li.dim
							a(href="") About
						li.dim
							a(href="") Services
						li.dim
							a(href="") Products
						li.dim
							a(href="") Contact Us

		block pageHeaderImage

		block content

		block footer